page-login {
    .login-content {
    background: linear-gradient(to bottom,  #FF5252 0%, #7C4DFF 100%);
    
        .logo-row {
            padding-top: 50px;
            padding-bottom: 5px;
        }
    
    .login-box {
        margin-top: 50px;
        border: 1px solid #212121;
        padding-top: 5px;
        background: #212121;
        border: 1px solid #ffffff;
    }
    
    ion-row {
        align-items: center;
        text-align: center;
    }
    
    ion-item {
        border-color: rgba(0, 0, 0, 0);
	    background-color: rgba(0, 0, 0, 0);
	    color: #ffffff;
    }
    
    .signup-col {
        margin: 0px 16px 0px 16px;
        padding-bottom: 5px;
    }
    
    .item-inner {
    box-shadow: none !important;
    }

    .submit-btn {
    background: #212121;
    border: 1px solid #ffffff;
    border-radius: 2px;
    }
    
    .register-btn {
    color: #ffffff;
    font-size: 0.8em;
    }

    .dodo {
        border: 1px solid #ffffff;
        padding: 2px;
    }
    
    }
    
    }